
#anchor{
    -fx-background-color: #343A40;
}

.label{
     -fx-text-fill: white;
}

#labelDados{
    -fx-text-fill: #ff891c;
}

#labelHome{
    -fx-text-fill: #ff891c;
}

#labelHome2{
    -fx-text-fill: #ff891c;
}

#labelHomerh{
    -fx-text-fill: #ff891c;
}

#botaoAvancar {
    -fx-font-veight: bold;
    -fx-background-color: #f57c00;
    -fx-font-size:17;
    -fx-text-fill: white;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoAvancar:hover {
    -fx-font-veight: bold;
    -fx-background-color: white;
    -fx-font-size: 17;
    -fx-text-fill: #f57c00;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoAvancar: pressed {
    -fx-font-veight: bold;
    -fx-background-color: white;
    -fx-font-size: 17;
    -fx-text-fill: #f57c00;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoVoltar {
    -fx-font-veight: bold;
    -fx-background-color: #f57c00;
    -fx-font-size:17;
    -fx-text-fill: white;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoVoltar:hover {
    -fx-font-veight: bold;
    -fx-background-color: white;
    -fx-font-size: 17;
    -fx-text-fill: #f57c00;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoVoltar: pressed {
    -fx-font-veight: bold;
    -fx-background-color: white;
    -fx-font-size: 17;
    -fx-text-fill: #f57c00;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

.text-area {
    -fx-background-color: #58595A;
    -fx-control-inner-background: #58595A;
    -fx-border-color: #58595A;
    -fx-text-fill: white;
}

.text-area: focused {
    -fx-border-color: white ;
}

.text-field {
    -fx-background-color:  #58595A;
    -fx-border-color: #58595A;
    -fx-text-inner-color: white;
}

.text-field: focused {
    -fx-border-color: white;
    -fx-text-inner-color: white;
}

.password-field {
    -fx-background-color:  #58595A;
    -fx-border-color: #58595A;
    -fx-text-inner-color: white;
}

.password-field: focused {
    -fx-border-color: white;
    -fx-text-inner-color: white;
}

.toggle-button {
    -fx-base: #58595A;
    -fx-border-color: #58595A;
}

#botaoAdicionar {
    -fx-font-veight: bold;
    -fx-background-color: #f57c00;
    -fx-font-size:17;
    -fx-text-fill: white;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoAdicionar:hover {
    -fx-font-veight: bold;
    -fx-background-color: white;
    -fx-font-size: 17;
    -fx-text-fill: #f57c00;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoAdicionar: pressed {
    -fx-font-veight: bold;
    -fx-background-color: white;
    -fx-font-size: 17;
    -fx-text-fill: #f57c00;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoFinalizar {
    -fx-font-veight: bold;
    -fx-background-color: #f57c00;
    -fx-font-size:17;
    -fx-text-fill: white;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoFinalizar:hover {
    -fx-font-veight: bold;
    -fx-background-color: white;
    -fx-font-size: 17;
    -fx-text-fill: #f57c00;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoFinalizar: pressed {
    -fx-font-veight: bold;
    -fx-background-color: white;
    -fx-font-size: 17;
    -fx-text-fill: #f57c00;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoSalvar {
    -fx-font-veight: bold;
    -fx-background-color: #f57c00;
    -fx-font-size:17;
    -fx-text-fill: white;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoSalvar:hover {
    -fx-font-veight: bold;
    -fx-background-color: white;
    -fx-font-size: 17;
    -fx-text-fill: #f57c00;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoSalvar: pressed {
    -fx-font-veight: bold;
    -fx-background-color: white;
    -fx-font-size: 17;
    -fx-text-fill: #f57c00;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoAcompanhar {
    -fx-font-veight: bold;
    -fx-background-color: #f57c00;
    -fx-font-size:17;
    -fx-text-fill: white;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoAcompanhar:hover {
    -fx-font-veight: bold;
    -fx-background-color: white;
    -fx-font-size: 17;
    -fx-text-fill: #f57c00;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoAcompanhar: pressed {
    -fx-font-veight: bold;
    -fx-background-color: white;
    -fx-font-size: 17;
    -fx-text-fill: #f57c00;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoCandidatar {
    -fx-font-veight: bold;
    -fx-background-color: #f57c00;
    -fx-font-size:17;
    -fx-text-fill: white;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoCandidatar:hover {
    -fx-font-veight: bold;
    -fx-background-color: white;
    -fx-font-size: 17;
    -fx-text-fill: #f57c00;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoCandidatar: pressed {
    -fx-font-veight: bold;
    -fx-background-color: white;
    -fx-font-size: 17;
    -fx-text-fill: #f57c00;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoCadastrar {
    -fx-font-veight: bold;
    -fx-background-color: #f57c00;
    -fx-font-size:17;
    -fx-text-fill: white;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoCadastrar:hover {
    -fx-font-veight: bold;
    -fx-background-color: white;
    -fx-font-size: 17;
    -fx-text-fill: #f57c00;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoCadastrar: pressed {
    -fx-font-veight: bold;
    -fx-background-color: white;
    -fx-font-size: 17;
    -fx-text-fill: #f57c00;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoEntrar {
    -fx-font-veight: bold;
    -fx-background-color: #f57c00;
    -fx-font-size:17;
    -fx-text-fill: white;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoEntrar:hover {
    -fx-font-veight: bold;
    -fx-background-color: white;
    -fx-font-size: 17;
    -fx-text-fill: #f57c00;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoEntrar: pressed {
    -fx-font-veight: bold;
    -fx-background-color: white;
    -fx-font-size: 17;
    -fx-text-fill: #f57c00;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoRelatorio {
    -fx-font-veight: bold;
    -fx-background-color: #f57c00;
    -fx-font-size:17;
    -fx-text-fill: white;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoRelatorio:hover {
    -fx-font-veight: bold;
    -fx-background-color: white;
    -fx-font-size: 17;
    -fx-text-fill: #f57c00;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoRelatorio: pressed {
    -fx-font-veight: bold;
    -fx-background-color: white;
    -fx-font-size: 17;
    -fx-text-fill: #f57c00;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

// Style CSS para os choice-box

// Cor de fundo de todo o menu de contexto
.choice-box .context-menu { -fx-background-color: #58595A; }

// Cor de fundo do item em destaque na lista
.choice-box .menu-item:focused { -fx-background-color: orange; }

// Cor do texto de itens não focados na lista
.choice-box .menu-item > .label { -fx-text-fill: white; }

// Cor do texto do item focado na lista
.choice-box .menu-item:focused > .label { -fx-text-fill: white; }

// Cor de fundo do próprio controle
.choice-box {-fx-background-color: #58595A; }

// Cor da seta
.choice-box {-fx-mark-color: orange; }

// Cor do texto do item selecionado no próprio controle
.choice-box > .label { -fx-text-fill: white; }

// Cor da borda
.choice-box {-fx-border-color: #58595A;}

.combo-box {
    -fx-background-color: #58595A;
    -fx-border-color: #58595A;
}

// Cor da seta
.combo-box-base {-fx-mark-color: orange; }

.combo-box .list-cell{
    -fx-background-color: #58595A;
    -fx-text-fill: white;
}

.combo-box .list-cell:hover {
    -fx-background-color: #f57c00;
    -fx-text-fill: white;
}

.check-box {
    -fx-background-color: #343A40;
    -fx-text-fill: white;
}

.button {
    -fx-font-veight: bold;
    -fx-background-color:  #343A40;
    -fx-font-size:20;
    -fx-text-fill: white;
}

.button:hover {
    -fx-font-veight: bold;
    -fx-font-size: 20;
    -fx-text-fill: #f57c00;
}

.button: pressed {
    -fx-font-veight: bold;
    -fx-font-size: 20;
    -fx-text-fill: #f57c00;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #FF4500;
}

.table-view .column-header .label {
   -fx-text-fill: white;
   -fx-font-weight: bold;
}

.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

// 1°cor da tabela
.table-row-cell:odd{
    -fx-background-color: #8B8989;
}

// 2°cor da tabela
.table-row-cell:even{
    -fx-background-color: #58595A;
}

// cor do fundo e do texto ao posicionar o mouse
.table-row-cell:hover {
    -fx-background-color: #f57c00;
    -fx-text-fill: white;
}

// cor do fundo e do texto ao selecionar
.table-row-cell:selected {
    -fx-background-color: #f57c00;
    -fx-text-fill: white;
}

// fonte e cor dos itens dentro da tabela
.table-column {
     -fx-font-weight: bold;
     -fx-text-fill: white;
}
