// Style CSS para a Tabela

// propriedades da tabela
.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #FF4500;
}

.table-view .column-header .label {
   -fx-text-fill: white;
   -fx-font-weight: bold;
}

.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

// 1°cor da tabela
.table-row-cell:odd{
    -fx-background-color: #8B8989;
}

// 2°cor da tabela
.table-row-cell:even{
    -fx-background-color: #58595A;
}

// cor do fundo e do texto ao posicionar o mouse
.table-row-cell:hover {
    -fx-background-color: #f57c00;
    -fx-text-fill: white;
}

// cor do fundo e do texto ao selecionar
.table-row-cell:selected {
    -fx-background-color: #f57c00;
    -fx-text-fill: white;
}

// fonte e cor dos itens dentro da tabela
.table-column {
     -fx-font-weight: bold;
     -fx-text-fill: white;
}
