.button {
    -fx-font-veight: bold;
    -fx-background-color:  #343A40;
    -fx-font-size:20;
    -fx-text-fill: white;
}

.button:hover {
    -fx-font-veight: bold;
    -fx-font-size: 20;
    -fx-text-fill: #f57c00;
}

.button: pressed {
    -fx-font-veight: bold;
    -fx-font-size: 20;
    -fx-text-fill: #f57c00;
    -fx-border-color: #f57c00;
}
