// Style CSS para a Tabela

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #f57c00;
}

.table-view .column-header .label {
   -fx-text-fill: white;
   -fx-font-weight: bold;
}
