// Style CSS para os botões avançar e voltar Modo Escuro

#botaoAvancar {
    -fx-font-veight: bold;
    -fx-background-color: #f57c00;
    -fx-font-size:17;
    -fx-text-fill: white;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoAvancar:hover {
    -fx-font-veight: bold;
    -fx-background-color: white;
    -fx-font-size: 17;
    -fx-text-fill: #f57c00;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}

#botaoAvancar: pressed {
    -fx-font-veight: bold;
    -fx-background-color: white;
    -fx-font-size: 17;
    -fx-text-fill: #f57c00;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #f57c00;
}
